.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #f2f2f2;
    padding: 10px;
}

.icon {
    cursor: pointer;
}

.main {
    padding: 20px;
}

.search-container {
    display: none;
}

.show {
    display: block;
}
